/* You can add global styles to this file, and also import other style files */

@import './assets/highcharts.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #e0e5ef;
} 